extends layout
block content
	.container
		h3.jumbotron.text-center.text-big Todo App
		// Hien thi form nhap task
		form.form-group(action='/add', method='POST')
			label(for='task-input') Nhập công việc:
			input#taskInput.form-control(type='text', name='taskInput')
			label(for='deadline') Nhập deadline:
			input#deadline.form-control(type='datetime', name='deadline')
			button.btn.btn-success(type='submit') Add
		// Hien thi danh sach task
		-//var data = ['uong nuoc' , ' an com ', 'danh rang'];
		.container
			h2.info Danh sách công việc:
		-if(!title)
			h4.warning Không có việc nào
		-var index = 0;
		-for task in title
			div.hidden(hidden, name="id"+index)= task._id
			-var temp = index + 1;
			a.col-md-6.col-sm-6.text-left.btn.btn-info(href = "https://cdcnsimpletodo.herokuapp.com/del/"+task._id)= temp +". " task.todo || "No todo"
			a.col-md-6.col-sm-6.text-left.btn.btn-info(type="submit", disabled)=task.deadline || "No deadline"
			-index++;
